/* font-family: 'Crimson Text', serif;
font-family: 'Roboto', sans-serif; */
:root {
  --colorMain: #D3AEA6;
  --colorGrey: #FCFFFC;
  --colorContrast: #2c5159;
}

::selection{
  background: var(--colorMain);
  color: black;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

.container {
  font-size: 2rem;
  
  display: grid !important;
  grid-template-rows:  5.65rem repeat(4, min-content) 1fr 20rem;
  grid-template-columns: 1fr;
}


.navbar {
  grid-row: 1 / 2;
  background-color: var(--colorMain);
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  z-index: 2;
}


.logo {
  width: 40px;
  margin-left: 10vw;
  margin-top: 1rem;
}

.title {
  font-size: 3.5rem;
  margin-left: 3rem;
  font-weight: 700;
  text-decoration: none;
  color: #040F0F;
  transition: all 0.2s ease-in-out;
}

.title:hover {
  background: linear-gradient(to right, #999, #444);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.auth {
  margin-right: 3rem;
  font-size: 2rem;
  color: black;
  cursor: pointer;
  margin-left: auto;
  transition: all .2s ease-in-out;
}

.auth:hover {
  color: #eee;
}

.cart-logo:active,
.auth:active {
  transform: scale(0.95);
}

.cart-logo {
  margin-right: 10vw;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}



/* Carousel */
.sub-text,
.front-text {

  height: 0;
  margin: 0;
  z-index: 1;
  position: relative;

  top: 40vh;
  margin: 0 auto;
  
  color: #FCFFFC;
  font-size: 8rem; 
  text-transform: uppercase;
  font-weight: lighter;
  text-shadow: 2px 2px #444444;
}

.sub-text {
  font-size: 2rem;
  top: 50vh;
  color: var(--colorMain);
  text-transform: none;
  text-shadow: none;
  text-align: center;
}
.carousel-img {
  max-height: calc(100vh - 5.65rem);
}

/* footer */

.footer {
  background-color: var(--colorGrey) ;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: 40rem 1fr 40rem;
}

.social-media {
  transition: all 0.3s;
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 8rem;
}

.social-media:link,
.social-media:visited {
  text-decoration: none;
  display: inline-block;
}

.social-media-1:hover,
.social-media-2:hover {
  
}

.terms {


  grid-row: 1 / -1;
  grid-column: 2 / 3 ;


  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;


}

.terms-component {
  font-size: 1.5rem !important;
  color: #2D3A3A;
  transition: all 0.2s;
}

.terms-component:hover {
  color: var(--colorMain) !important;
}

.terms p:last-of-type {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  font-size: 1.2rem;
  align-self: baseline;
  text-align: center;
  color: #2D3A3A;
}

/* product heading */
.latest-products {
  text-transform: capitalize;
  text-align: center;
  margin-top: 5rem;
  font-size: 5rem;
  font-weight: lighter;
  color: grey;
  
}

/* products */
.products {
  width: 1100px;
  display: flex;
  list-style-type: none;
  padding: 2rem 0;
  margin: auto;
  justify-content: space-around;
  align-items: center;

  flex-wrap: wrap;
}

.product {
  box-shadow: 0px 0px 30px 0px rgba(211,174,166,0.12);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.products li {
  margin-top: 2rem;
}

.product img{
  max-width: 30rem;
  max-height: 40rem;
  border-radius: 5px 5px 0 0;

  transition: all 0.2s ease-in-out;
}

.product-title {
  text-align: center;
  font-style: italic;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
}

.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}

.product-price {
  font-size: 2rem;
}

.button-primary {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
  background-color: #f0c040;
  border-radius: 5px;
  transition: all .2s;
  font-weight: 700;
}

.product:hover {
  box-shadow: 0px 0px 30px 0px rgba(211,174,166,0.5);
}

.product img:hover{
  transform: scale(1.05);

}

.button-primary:hover {
  border: 0.1rem #040F0F solid;
  background-color:  #234099;
  color: whitesmoke;
  transform: scale(1.02);
}

.button-primary:active,
.button-primary:focus {
  outline: 0;
}

.button-primary:active {
  transform: scale(0.975);
}

/* filter */
.filter {
  width: 1100px;
  position: -webkit-sticky; 
  position: sticky;
  top: 5.65rem;
  background-color: white;
  z-index: 3;
  margin: 2rem auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;

  border-bottom: .1rem solid #c0c0c0;
  position: sticky;
  font-size: 1.8rem;
}


.select {
  padding: .25em;
  border: 0;
  border-bottom: 2px solid var(--colorMain); 
  font-weight: bold;
  letter-spacing: .15rem;
  background-color: white;
  font-style: italic;
  font-family: inherit;
  font-size: 1.8rem;
  transition: all .1s;
  border-radius: 3px;

  /* appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; */
}


.select:hover {
  background-color: var(--colorMain);
  color: white;
}

.select:focus, .select:active {
  outline: 0;
  border-bottom-color: black;
}

.select option {
  border-radius: 5px;
}

/* cart */
@keyframes modal {
  from {width: 100%; background-color: rgba(0,0,0,0)}
  to {background-color: rgba(0,0,0,0.8); width: calc(100% - 30rem);}
}

.cart-modal {
  position: fixed;
  width: calc(100% - 30rem);
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 1000;
  animation-name: modal;
  animation-duration: .3s;
}

@keyframes cart {
  from {width: 0;}
  to {width: 30rem;}
}

.cart {
  width: 30rem;
  height: 100%;
  background: var(--colorMain);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  animation: cart .3s;

}

@keyframes x {
  from {opacity: 0;}
  to {opactiy: 1;}
}

.x-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  color: white;
  transition: all 0.2s;
  animation: x 0.5s;
}

.x-button:hover {
  color: black;
}

.cart-empty {
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  padding-top: 100%;
}

.not-empty {
  padding-top: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-empty ul {
  padding: 0 5px;
}

.cart-user {
  justify-self: flex-start;
}

@keyframes cart-item {
  from {width: 0;}
  to {width: 29rem;}
}

.cart-items{
  width: 29rem;
  display:grid;
  margin-bottom: 5px;
  grid-template-columns: 1fr repeat(3, 3.5rem) 1fr;
  grid-template-rows: repeat(3, 2.7rem);
  list-style-type: none;
  grid-gap: 5px;
  animation: cart-item .3s;
}


.cart-items img {
  grid-row: 1 /3;
  grid-column: 1 / 2;
  max-width: 7rem;
}

.cart-title {
  grid-row: 1 / 2;
  grid-column: 2 / 5;
  
  font-size: 1.2rem;
  text-align: center;
}

.cart-button {
  grid-row: 2 / 3;
  grid-column: 5 / 6;
  padding: 0;
}

.cart-price {
  grid-row: 2 / 3;
  grid-column: 2 / 5;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  align-self: center;
}

.cart-count {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  margin: 0 auto;
  text-align: center;
}

.decrement {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.increment {
  grid-row: 3 / 4;
  grid-column: 4 / 5;
  
}

.cart-button,
.decrement,
.increment {
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  background-color: white;
  height: 75%;
  margin: auto 0; 
  transition: all 0.2s;
  font-weight: 100;
  cursor: pointer;
}

.checkout-button:focus,
.decrement:focus,
.increment:focus,
.cart-button:focus {
  outline: none;
}

.checkout-button:active,
.decrement:active,
.increment:active,
.cart-button:active {
 transform: scale(0.975);
}

.checkout-button:hover,
.decrement:hover,
.increment:hover,
.cart-button:hover {
  background-color: black;
  color: white;
}


.total-subtotal,
.checkout-button {
  margin: 0;
  box-sizing: border-box;
  justify-self: flex-end;
}


.checkout-button {
  border-radius: 5px;
  background-color: white;
  border: none;
  padding: 5px;
  transition: all 0.2s;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 1rem;
  animation: none;
}

.total-subtotal {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 2rem;
  margin-bottom: 5px;
  letter-spacing: 1px;
  animation: none;
}

.subtotal {
  margin-right: 5px;
}
